<div class="">

</div>
<form class="mb-10" action="search" method="post">
  <input type="text" name="recipient_handle" value="" placeholder="ryanckulp">
  <input type="text" name="text" value="" placeholder="i really hate you cuz ..">
  <button type="submit">Search Now</button>

</form>
